<header class="bg-light mb-3">
   
    <nav class="navbar navbar-expand navbar-light container">
        <ul class="navbar-nav mb-1" style="align-items: baseline">
            <li class="nav-item mr-3">
                <h6>Novohatsckij1530</h6>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link px-0 my-0"  [routerLink]="'/'">Покупки</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link px-0 my-0"  [routerLink]="'/info'">Инфо</a>
            </li>
        </ul>
    </nav>
</header>
